/dados_originais_datasus/sia/
/dados_originais_datasus/sih/
/dados_originais_datasus/sim/
/dados_originais_datasus/sinan/
/dados_originais_datasus/sinasc/

.Rproj.user/
.DS_Store
**/.DS_Store
desafio/desafio_sih_regressao_linear_completo.r
desafio/desafio_sih_regressao_linear_10_questoes.md
